<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Sõnad ja fraasid</title>
  <meta name="viewport" content="width=device-width" initial-scale="1">

  {% if page.pealeht == true %}
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="838912361532-9utpihfcsrqn8e8o9gsg3ag1i0g8i7df.apps.googleusercontent.com">
  {% endif %}

  <!-- Material Design icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery.min.js"></script>

  <link rel="stylesheet" href="{{ site.baseurl }}/css/Times.css">

  {% if page.pealeht == true %}
    <!-- Google Identity Platform -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <script src='js/Pealeht.js'></script>
    <script src='js/Teatepaan.js'></script>
    <script src='js/GoogleAutentimine.js'></script>
    <link rel='stylesheet' href='css/PealeheEri.css'>
  {% endif %}
</head>

{% if page.pealeht == true %}
  <body onload='alusta()'>
{% else %}
  <body>  
{% endif %}

  <!-- Ülarida -->
  <div>
    <p class='kursusePais'>
      <a href='{{ site.baseurl }}'>Sõnad ja fraasid</a> · <a href='{{ site.baseurl }}/Spekk'>Spekk</a>
    </p>
    
    {% if page.pealeht == true %}
    <div> 
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
      <div id='KasutajaEmail'></div>
    </div>
    {% endif %}
  </div>

  <!-- Uue sõna dialoog -->
  <div id='UueSonaDialoog'>
    <!-- Uus sõna -->
    <div id='UusSonaDiv'>
      <input id='UusSona' type='text' autocomplete='off'>
    </div>
    <!-- Uue sõna salvestamise nupp -->
    <div id='SalvestaUusSonaNupp' class='nupp'>
      <i class='ikoon material-icons'>cloud_upload</i>
    </div>
  </div>

  <div id='Tekst'>      
    {{ content }}
  </div>
  
  {% include Jalus.html %}
</body>

</html>