<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Sõnad ja fraasid</title>
  <meta name="viewport" content="width=device-width" initial-scale="1">

  {% if page.pealeht == true %}
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="838912361532-9utpihfcsrqn8e8o9gsg3ag1i0g8i7df.apps.googleusercontent.com">
  {% endif %}

  <!-- Material Design icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    crossorigin="anonymous">
  <!-- Tether on vaja tooltip-de jaoks -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{ site.baseurl }}/css/Times.css">

  {% if page.pealeht == true %}
    <!-- Google Identity Platform -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
    <script src='js/Pealeht.js'></script>
    <script src='js/Teatepaan.js'></script>
    <script src='js/GoogleAutentimine.js'></script>
    <link rel='stylesheet' href='css/PealeheEri.css'>
  {% endif %}
</head>

{% if page.pealeht == true %}
  <body onload='alusta()'>
{% else %}
  <body>  
{% endif %}

  <!-- Ülarida -->
  <div class='d-flex mb-3 justify-content-between pais'>
    <p class='kursusePais'>
      <a href='{{ site.baseurl }}'>Sõnad ja fraasid</a> · <a href='{{ site.baseurl }}/Spekk'>Spekk</a>
    </p>
    
    {% if page.pealeht == true %}
    <div class='align-self-start ml-auto'> 
      <div class="g-signin2" data-onsuccess="onSignIn" data-toggle='tooltip' title='Eksami tegemiseks logi sisse' data-placement="bottom"></div>
      <div id='Kasutaja'></div>
      <div id='KasutajaEmail'></div>
    </div>
    {% endif %}
  </div>

  <!-- Uue sõna lisamise dialoog -->
  <div id='UueSonaDialoog' class='paan dialoog peidetud'>
    
    <div id='USDRida1' class='d-flex align-items-center justify-content-between'>
      <!-- Uus sõna -->
      <div id='USDBlokk1'>
        <label class='active'>
        Uus sõna: <input id='UusSona' type='text' class='form-control' autocomplete='off'>
        </label>
      </div>
      <!-- Uue sõna salvestamise nupp -->
      <div id='SalvestaUusSonaNupp' class='nupp' data-toggle='tooltip' title='Salvesta' data-animation='false'>
        <i class='ikoon material-icons' style='color: #C5E1A5;'>help_outline</i>
      </div>
      <!-- Sulgemisnupp -->
      <div id='UueSonaDialoogSulge' class='align-self-start ml-auto sulgemisnupuke'>
        <span>&times;</span>
      </div>
    </div>

    <div id='USDRida2' class='d-flex'>
      <div id='UuSonaSalvestamiseTeade'>
        &nbsp;
      </div>
    </div>

  </div>
  
  <div id='Tekst'>      
    {{ content }}
  </div>
  
  {% include Jalus.html %}
</body>

</html>